[plugin]
active = true
discord_webhookurl = 
language = de/en
os = android/ios/both
only_show_workers = ATV01,ATV19,ATV34
exlude_mons = 1,4,7
mask_mail = <yes or no>
pinguser = <yes or no>

[catchhelper]
activate_catchhelper = <yes or no>
bot_token = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'# Your bot's token

[pingusermapping]
device_origin = <@discord_id>
device_origin = <@discord_id1>, <@discord_id2>