[plugin]
active = true
discord_webhookurl = https://required
language = en,de,... choose one; if empty, defaults to en
os = android,ios,both... choose one; if empty, defaults to both
only_show_workers = ATV01,ATV19,ATV34... if empty, defaults to show ALL workers
exlude_mons = 1,4,7... (pokedex numbers) if empty, defaults to report ALL shinies encountered
mask_mail = no,yes,total... choose one; if empty, defaults to no
pinguser = no,yes... if empty, defaults to no
timezone_offset = 0... minutes. if empty, defaults to 0
accounts_usernames = ptc1,gmail1@gmail.com,ptc55... if empty, no custom usernames displayed
accounts_display_custom = custom_displays_instead_of_ptc1,custom_gmail1@gmail.com,custom_ptc55

[catchhelper]
activate_catchhelper = <yes or no>
bot_token = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[pingusermapping]
device_origin = @discord_id... this_is_optional

[catchhelper]
activate_catchhelper = yes
bot_token = required_for_use
